@charset "utf-8";
h1 {
    text-align: center;
}
.video {
    height: 520px;
    width: 100%;
}
tr td iframe {
}
.videinho {
    width: 100%;
    height: 500px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
